<!-- login.component.html -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Inicio de Sesión</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="formLogin" (ngSubmit)="login()">
              <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" placeholder="Ingresa tu nombre de usuario" formControlName="username">
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" formControlName="password">
              </div>
              <br>
              <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
            </form>
          </div>
          <div class="card-footer">
            <p class="text-center">¿No tienes una cuenta? <a routerLink="register">Regístrate</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
