<!-- product-list.component.html -->
<div class="container">
    <h2>Lista de Productos</h2>
    <div class="table-responsive m-5">
      <button class="btn btn-primary mb-2" [routerLink]="['/productos','listarProducto_base']" >Regresar</button>
      <table >
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Accion</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index "  [style.background-color]=" (i%2)==0 ? '#5bd865' : '#ffdddd'">
            <td>{{ product.id }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.description }}</td>
            <td><img [src]="product.images[0]" class="img-thumbnail" width="50"></td>
            <td>{{ product.brand }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.price | currency }}</td>
            <td *ngIf="validar(product.id)">
              <button class="btn btn-danger" (click)="importProduct(product)">
                Importar
              </button>
            </td>
            <td *ngIf="!validar(product.id)">
              Ya esta importado
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
