<button class="btn btn-danger ml-3 mt-3 " [routerLink]="['/productos','listarProducto_base']" >Productos en Base</button>
<div style="display: flex; justify-content: space-between;" class="m-3">
  <div class="card border-primary rounded col-md-6 mr-2 d-flex align-items-center justify-content-center" style="box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); transition: 0.3s; border-radius: 15px; overflow: hidden;">
      <img [src]="image" class="card-img-top rounded-top " alt="User Avatar" style="width: 20em; height: 20em ; ">
      <div class="card-body" style="padding: 20px; border-radius: 0 0 15px 15px;">
        <h5 class="card-title" style="font-size: 1.8rem; margin-bottom: 10px; color: #3498db;">{{firstName}} {{lastName}}</h5>
        <p class="card-text" style="font-size: 1.2rem; margin-bottom: 10px; color: #2c3e50;"><strong>Email:</strong> {{email}}</p>
        <p class="card-text" style="font-size: 1.2rem; margin-bottom: 10px; color: #2c3e50;"><strong>Age:</strong> {{age}}</p>
        <p class="card-text" style="font-size: 1.2rem; margin-bottom: 10px; color: #2c3e50;"><strong>Phone Number:</strong> {{phone}}</p>
      </div>
  </div>
      
  <div class="card rounded col-md-6" style="max-height: 500px; overflow-y: auto;" >
    <h3>Últimos 10 Productos</h3>
    <table class="table">
      <thead>

        <tr>
          <th>Stock</th>
          <th>Título</th>
          <th>Imagen</th>
          <th>Marca</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <!-- Utilizando *ngFor para iterar sobre los elementos del array -->
        <tr *ngFor="let item of products.slice(0, 10)">
          <td>{{item.cantidad}}</td>
          <td>{{item.nombre}}</td>
          <td><img [src]="item.imagen" alt="Imagen" style="max-width: 50px;"></td>
          <td>{{item.marca}}</td>
          <td>$ {{item.precio}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  