<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include Bootstrap CSS link here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Include your other head elements here -->
</head>

<body>

  <!-- Main Navigation -->
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
      <div class="container-fluid" >

        <!-- Branding -->
        <a class="navbar-brand" href="home">
          <img src="{{avatar}}" alt="Avatar" class="rounded-circle mr-2" style="width: 40px; height: 40px; margin-bottom: 1rem;">
          <strong>{{firstName}} {{lastName}}</strong>
        </a>

        <!-- Toggler button for small screens -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                
                {{email}} 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <p class="dropdown-item mb-0">Nombre: {{firstName}}</p>
                <p class="dropdown-item mb-0">Correo: usuario@example.com</p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" >Cerrar Sesión</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </nav>

  </header>
  <!-- Main Navigation -->

  <!-- Include Bootstrap JS and Popper.js scripts here -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Include your other body content here -->

</body>

</html>
