<section class="bg-light" style="padding-top: 50px;">

  <div class="rounded-lg bg-white p-4" >

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" autocomplete="off" class="space-y-4">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          formControlName="nombre"
          class="form-control" placeholder="Nombre del producto" type="text" id="nombre" />
      </div>

      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion</label>
        <input
          formControlName="descripcion"
          class="form-control" placeholder="Descripcion" type="text" id="descripcion" />
      </div>

      <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input
          formControlName="cantidad"
          class="form-control" placeholder="Cantidad en bodega" type="text" id="cantidad" />

      </div>

      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input
          formControlName="precio"
          class="form-control" placeholder="Precio" type="text" id="precio" />
      </div>

      <div class="mb-3">
        <label for="marca" class="form-label">Marca</label>
        <input
          formControlName="marca"
          class="form-control" placeholder="Marca" type="text" id="marca" />

      </div>

      <div class="mb-3">
        <label for="categoria" class="form-label">Categoria</label>
        <input
          formControlName="categoria"
          class="form-control" placeholder="Categoria" type="text" id="categoria" />

      </div>

      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input
          formControlName="imagen"
          class="form-control" placeholder="Imagen" type="text" id="imagen" />

      </div>

      <div class="mt-4">
        <button type="submit" class="btn btn-primary">
          Actualizar
        </button>
      </div>
    </form>
  </div>
</section>