<!-- product-list.component.html -->
<div class="container">
  <h2>Lista de Productos</h2>
  <div class="table-responsive m-5">
    <!-- <button class="btn btn-primary m-2" [routerLink]="['/productos','listarProducto_api']">Crear</button> -->
    <button class="btn btn-danger mb-2" [routerLink]="['/productos','listarProducto_api']" >Importar</button>
    <button class="btn btn-primary mb-2" [routerLink]="['/','home']" >Regresar</button>
    <button class="btn btn-primary mb-2" [routerLink]="['/productos','crearProducto']" >Crear</button>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Imagen</th>
          <th>Marca</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Accion</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.nombre }}</td>
          <td>{{ product.descripcion }}</td>
          <td><img [src]="product.imagen" class="img-thumbnail" width="50"></td>
          <td>{{ product.marca }}</td>
          <td>{{ product.nombre }}</td>
          <td>{{ product.precio | currency }}</td>
          <td>
            <button class="btn btn-success btn-md" (click)="editUsuario(product)" >Editar</button>
            <button class="btn btn-danger btn-md" (click)="eliminar(product)" >Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>